/* Centers the image in Reading View */
.markdown-preview-view img[alt*="center"] {
    display: block;
    margin-inline: auto !important;
}

/* Centers the image container in Live Preview (Editing View) */
.markdown-source-view.mod-cm6 .cm-content .image-embed[alt*="center"] {
    display: block;
    margin-inline: auto !important;
    width: max-content;
}
